@import "tailwindcss";

:root {
  --background: #0b0b0b;
  --foreground: #ffffff;
  --color-accent: #1e90ff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
